:root {
  --clr-primary: rgb(0, 220, 176);
  --clr-secondary: rgb(201, 169, 245);

  --clr-bg: rgb(10, 16, 23);
  --clr-fg: rgb(255, 255, 255);

  --clr-blue: rgb(32, 0, 77);

  --clr-highlight: rgb(255, 94, 85);

  --clr-disabled: rgb(156, 163, 175);
}