.date_tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 0.15rem;
  margin: .1rem;
  border-radius: 0.375rem;

  transition: var(--transition-all-3);

  @media screen and (width > 420px) {
    margin: .15rem;
  }

  &.active {
    cursor: pointer;
    background-color: var(--clr-date-tile);
    background-color: hsla(168, 100%, 43%, 0.6);

    &:hover {
      background-color: var(--clr-date-tile-active);
      box-shadow: rgba(0, 220, 176, 0.3) 0px 0px 10px;
      color: var(--clr-bg);

      transform: scale(1.1);
    }
  }

  &.inactive {
    cursor: default;
    color: rgba(255, 255, 255, 0.5);
    background: var(--clr-date-tile-disabled);
  }

  &.ghost {
    cursor: pointer;
  }

  &.date_tile__focused {
    color: var(--clr-bg);
    background-color: var(--clr-date-tile-active);
    box-shadow: rgba(0, 220, 176, 0.3) 0px 0px 10px;

  }
}


.date_tile_day {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 2.5;

  @media screen and (width < 375px) {
    font-size: 1rem;
  }
}

.date_tile_price {
  font-weight: 400;
  font-size: 0.875rem;

  @media screen and (width < 375px) {
    font-size: .75rem;
  }
}