$weight--light: 300 !default;
$weight--normal: 400 !default;
$weight--bold: 700 !default;
$weight: $weight--normal !default;

$style: normal !default;
$family: ABCWhyteInktrap !default;
$format: "opentype" !default;
$base: "/fonts/" !default;
$line-height: 1.5 !default;
